*.shader         linguist-vendored
*.hlsl           linguist-vendored
*.cginc          linguist-vendored
*.hlslinc        linguist-vendored
*.compute        linguist-vendored
*.shadergraph    linguist-vendored
*.shadersubgraph linguist-vendored
